[Unit]
Description=NT2204 Project
AssertFileIsExecutable=/usr/bin/python3

[Service]
WorkingDirectory=/opt/NT2204.CH1801
User=root
Group=root

EnvironmentFile=-/opt/NT2204.CH1801/src/env
ExecStartPre=/bin/bash -c "git pull origin master"
ExecStart=/usr/bin/python3 /opt/NT2204.CH1801/src/backend.py

# Redirect stdout and stderr to a file
StandardOutput=file:/var/log/nt2204_project.log
StandardError=file:/var/log/nt2204_project_error.log

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of threads this process can create
TasksMax=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
